<html>
<body>
    
    
	<form method = 'post' action=".">
    <table>
	{% csrf_token %}
    <tr>
     <td>Employee name:</td>
	 <td><input type="text" name="name" value = {{username }}></td>
	</tr>
    <tr>
	<td>Leave type   : </td>
    <td><select name = "leavetype">
    
	{% for type in leavetype %}
	
  					<option value={{type.id}}>{{type}}</option>
 					
	
	{% endfor %}	
</td>
    		
				</select> 
                   <tr>
					<td>From:</td>
                    <td><input type = "date" name = "from"></td>
                   </tr>
                    
                    <tr> 
					<td>To:</td>  <td><input type = "date" name = "to"></td>
                    </tr>
                    <div>
                    <tr>
                    <td>
                    <span style="display:inline-block; vertical-align:top;">Reason</span>
					</td>
                    <td>
					<textarea name = "reason"></textarea>
                    </td>
                    </tr>
                    <div/>
                    <tr>
					<td><input type="submit" value="Apply"></td>
                    </tr>
    </table>

	</form>
    
	
</body>
</html>
