{% extends "base.html" %}

{% block content %}
<br>

	<div class="admin dashboard">
	
	
	
	{% if leaveRequests %}
	
		<div class="leaverequest"> 
			<table>
				<tr>
					<th>Emp Name</th><th>leaveType</th> <th>From Date</th> <th>To date</th> <th>Reason</th> <th>Status</th> <th>Action</th>
				</tr>
				{% for leaveRequest in leaveRequests %}
					<tr>
						<td>{{leaveRequest.uId.username}}</td>   
						<td>{{leaveRequest.leaveType.type}}</td>  
						<td>{{leaveRequest.leaveFrom}}</td> 
						<td>{{leaveRequest.leaveTo}}</td> 
						<td>{{leaveRequest.reason}}</td>     
						<td>New</td>  
						<td> 
							<a href="javascript:;" data-id="{{leaveRequest.id}}" class="leaveActiont">Accept</a> 
							<a href="javascript:;" data-id="{{leaveRequest.id}}" class="leaveActiont">Reject</a>
						</td>
					</tr>
				{% endfor %}
			</ul>
		</table>
	{% endif %}
		

		
	</div>
	
<br>
{% endblock %}



{% block footerScript %}
 	<script src="{{ STATIC_URL }}js/hr.js"></script>

{% endblock %}


